# Ignore bash history and config files
.bash_history
.bash_logout
.bashrc

# Ignore cache directories
.cache/

# Ignore Maven repository directory
.m2/

# Ignore user profile
.profile

# Ignore SSH configuration directory
.ssh/

# Ignore admin success marker
.sudo_as_admin_successful

# Ignore Vim info files
.viminfo

